body {
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	font-family: "Anonymous Pro", monospace;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.canvas1 {
	background-color: #3a3a3a;
	border: 1px solid #444;
}
